.place {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  color: white;
  h1,
  h2 {
    margin: 0;
    font-weight: 100;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 16px;
    font-weight: 500;
  }
}
