.event {
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  z-index: 1;
  margin-bottom: 16px;
  &__time {
    border-radius: 3rem;
    padding: 4px 8px;
    font-size: 14px;
    background: #455265;
    margin-right: 16px;
  }
  &__title {
    font-weight: 500;
  }
}
