@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
.app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  @media (max-width: 766px) {
    height: auto;
    min-height: 100vh;
  }
}

.bg-1 {
  background-image: url("https://images.unsplash.com/photo-1470770841072-f978cf4d019e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
}
.bg-2 {
  background-image: url("https://images.unsplash.com/34/BA1yLjNnQCI1yisIZGEi_2013-07-16_1922_IMG_9873.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80");
}

.bg-3 {
  background-image: url("https://images.unsplash.com/photo-1511884642898-4c92249e20b6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: rgba($color: #eeeeee, $alpha: 0.5);
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #455265;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
