.events {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba($color: #3a3d4b, $alpha: 0.9);
  padding-top: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    flex: 1;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    max-height: 90%;
    overflow: auto;
    background: white;
  }
  &__new-event {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
    padding-bottom: 32px;
    input {
      border: none;
      padding: 8px 12px;
      background: #eee;
      margin: 4px 0;
    }
    button {
      border: none;
      padding: 8px 12px;
      background: rgba(58, 61, 75, 1);
      color: white;
    }
  }
  &__event {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 16px;
    .event__edit:active {
      fill: #50d2fd !important;
    }
    .event__remove:active {
      fill: #ff4c6a !important;
    }
  }
}
