.events {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba($color: #3a3d4b, $alpha: 0.9);
  padding-top: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    flex: 1;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    max-height: 90%;
    overflow: auto;
    background: white;
    h1 {
      text-align: start;
      padding: 0 16px;
      width: 100%;
      font-weight: 500;
      font-size: 24px;
    }
  }
}
