.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__header {
    padding: 0 64px;
    @media (max-width: 766px) {
      padding: 0 32px;
      flex-direction: column-reverse;
    }
  }
  &__ly {
    @media (max-width: 766px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
  &__other-days {
    color: white;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: 766px) {
      width: 100%;
    }
  }

  @media (max-width: 766px) {
    height: auto;
    min-height: 100vh;
  }
}
