@import "../../../../utils/variables.scss";

.weather {
  position: relative;
  bottom: 0;
  height: $height-weather-bar;
  background-color: rgba($color: #3a3d4b, $alpha: 0.9);
  display: flex;
  align-items: center;
  @media (max-width: 766px) {
    flex-direction: column;
    height: auto;
    padding: 16px 0;
  }
}
