.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__name {
    border-radius: 3rem;
    padding: 4px 8px;
    font-size: 14px;
    background: #282f3f;
    text-transform: uppercase;
    font-weight: 500;
  }
  &__icon {
    width: 50px;
    height: 50px;
    margin: 16px 0;
  }
  &__temperature {
    font-size: 36px;
    font-weight: 100;
  }
}
