.theme-selector {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  margin-left: auto;
  &__theme {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 4px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    .theme-selector__filter {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(58, 61, 75, 0.5);
      &:hover,
      &--active {
        background: transparent;
      }
    }
    .img {
      background-size: cover;
      width: 100%;
      height: 100%;
    }
  }
  .theme-2 {
    background: green;
  }
  .theme-3 {
    background: red;
  }

  @media (max-width: 766px) {
    margin-left: 0;
  }
}
