.today {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  &__icon {
    fill: yellow;
    display: flex;
    svg {
      width: 100px;
      height: 100px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 32px;
    .today__title {
      border-radius: 3rem;
      padding: 4px 8px;
      margin: 0;
      background-color: #282f3f;
      font-weight: 500;
      margin: 0 8px;
    }
    p {
      font-size: 52px;
      margin: 4px;
      font-weight: 100;
    }
  }

  @media (max-width: 766px) {
    width: 100%;
    justify-content: center;
    padding: 16px 0;
  }
}
