.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($color: #3a3d4b, $alpha: 0.9);
  top: 32px;
  left: calc(50% - 50px);
  right: 0;
  z-index: 1;
  position: absolute;
  width: 100px;

  height: 50px;
  border-radius: 3rem;
  &__icon--active,
  &__icon:hover {
    fill: rgb(252, 243, 120) !important;
  }
}
